<div class="container-fluid">
<form (ngSubmit)="onClickSubmit($event)">
  <div class="mb-3">
    <label for="name" class="form-label">Name</label>
    <input type="text" class="form-control" placeholder="Enter Your Name..." name="name">
  </div>
  <div class="mb-3">
    <label for="gender" class="form-label">Gender</label>
    <select class="form-select" aria-label="Default select example" name="gender">
      <option value="Male">Male</option>
      <option value="Female">Female</option>
    </select>
  </div>
  <div class="mb-3">
      <label for="gender" class="form-label">DOJ</label>
      <input type="date" class="form-control" name="doj">
  </div>
  <div class="mb-3">
      <label for="gender" class="form-label">Address</label>
      <textarea class="form-control" placeholder="Enter Your Address..." name="address"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Gender</th>
      <th scope="col">DOJ</th>
      <th scope="col">Address</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let x of data">
      <td>{{x.name}}</td>
      <td>{{x.gender}}</td>
      <td>{{x.doj}}</td>
      <td>{{x.address}}</td>
    </tr>
  </tbody>
</table>
</div>